@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container {
  position: relative;
  padding: 2rem;
}

.img-container {
  width: 55%;
  background: url(../images/pattern-bg.svg) no-repeat center;
  background-size: contain;
  position: relative;
}

.img-container::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 50px;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translate(-100%, -150%);
          transform: translate(-100%, -150%);
  background-color: rgba(32, 32, 70, 0.2);
  -webkit-filter: blur(20px);
          filter: blur(20px);
  z-index: -1;
}

@media (min-width: 1200px) {
  .img-container::after {
    width: 300px;
    -webkit-transform: translate(-70%, -175%);
            transform: translate(-70%, -175%);
  }
}

.img-container img {
  width: 85%;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  -webkit-transform: scale(0.65);
          transform: scale(0.65);
}

.img-container .buttons {
  position: absolute;
  bottom: 17%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 20px rgba(32, 32, 70, 0.3);
          box-shadow: 0 5px 20px rgba(32, 32, 70, 0.3);
}

@media (min-width: 1200px) {
  .img-container .buttons {
    -webkit-transform: translate(-200%, 50%);
            transform: translate(-200%, 50%);
  }
}

.img-container .buttons i {
  background: white;
  color: #babacf;
  font-size: 1rem;
  padding: 1em;
  margin: 0;
}

.img-container .buttons i:hover {
  cursor: pointer;
  background: #ece6ff;
}

.img-container .buttons i:active {
  background: #8c66ff;
  color: white;
}

.text-container {
  width: 45%;
  font-size: 32px;
  text-align: center;
  margin-top: 5rem;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  position: relative;
}

@media (min-width: 1200px) {
  .text-container {
    font-size: 32px;
    left: 200px;
  }
}

.text-container .quote {
  color: #202046;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

@media (min-width: 1200px) {
  .text-container .quote {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .text-container .person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .text-container .person .name {
    margin-right: 1rem;
  }
}

.text-container .person .job {
  color: #babacf;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.text-container::before {
  content: url("../images/pattern-quotes.svg");
  position: absolute;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

@media (min-width: 1200px) {
  .text-container::before {
    left: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

.bottom-img {
  position: absolute;
  max-width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@media (min-width: 1200px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
/*# sourceMappingURL=main.css.map */